@import url("https://fonts.googleapis.com/css2?family=Bahiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=Poppins:wght@300&display=swap");
body {
  background-image: url("C:\Users\raban\OneDrive\Escritorio\IdoWeb - arbitrex\IdoWeb\src\assets\img\backgroundarbx.png");
  font-family: "Verdana", cursive;
}

.root {
  height: 96vh;
 
}

.logo-img {
  height: 90px;
  left : 3px

}

.cusbtn {
  background-color: #c408bd;
  color: #000;
  font-size: 1.4rem;
  padding: 0.8rem 1.5rem;
  border: 1.5px solid #c408bd;
  font-weight: bold;
  border-radius: 0x;
  letter-spacing: 1px;
  font-family: "Verdana", cursive;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.cusbtn:hover {
  background-color: #c408bd;
  color: #fff;
}

.rightlogo {
  border-radius: 20px;
}

.button-mint {
  display: flex;
}

.minus,
.plus {
  width: 70px;
  border-radius: 50%;
  background-color: #fff;
  /* color: #fff; */
  font-weight: bold;
  border: 3px solid #fff;
  font-size: 30px;
}

.display-number {
  /* background-color: #fff; */
  color: #000;
  height: 70px;
  width: 70px;
}
.number {
  font-weight: bold;
  font-size: 3rem;
}

.subtitle {
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;

  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Verdana", cursive;
  /* font-family: "Poppins", sans-serif; */

  /* color: #fff; */
  font-size: 28px;
}

.opensealogo {
  height: 40px;
}

.birdbg {
  background-image: url("./assets/img/bird.png");
  background-repeat: no-repeat;
}

.lefttree {
  position: absolute;
  top: 14%;
  left : 3px
}
.leftimg {
  height: 700px;
}
.righttree {
  position: absolute;
  top: 50%;
  right: 0%;
}
.rightimg {
  height: 400px;
}
/* .birdsdiv {
  position: absolute;
  right: 35%;
  top: 8%;
}
.birdimg {
  height: 100px;
} */

.title {
  color:#efd8ef;
  padding: 0;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px;

  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "poppins", cursive;
  /* font-family: "Poppins", sans-serif; */

  /* color: #fff; */
  font-size: 25px;
}

.dropbtn {
  background-color: #000000;
  color: white;
  padding: 8px;
  font-size: 14px;
  border: none;
  width: 300px;
  font-style: italic;
  font-size: 17px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: Verdana;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c408bd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 300px;
  font-family: Verdana;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(0, 0, 0);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #c408bd;}



@media only screen and (max-width: 600px) {
  .mbr {
    margin-top: 5rem;
  }

  .lefttree {
    position: absolute;
    top: 10%;
  }
  .leftimg {
    height: 200px;
  }
  .righttree {
    position: absolute;
    top: 40%;
    right: -5%;
  }
  .rightimg {
    height: 300px;
  }
}
